week2/q2.yaml
id: 04_postgres_taxi
namespace: zoomcamp
description: |
  Load NYC Taxi data (Yellow / Green) for all months of a given year into Postgres.
  Source: https://github.com/DataTalksClub/nyc-tlc-data/releases

inputs:
  - id: taxi
    type: SELECT
    displayName: Select taxi type
    values: [yellow, green]
    defaults: yellow

  - id: year
    type: SELECT
    displayName: Select year
    values: ["2019", "2020"]
    defaults: "2020"

variables:
  months: ["01","02","03","04","05","06","07","08","09","10","11","12"]
  staging_table: "public.{{inputs.taxi}}_tripdata_staging"
  table: "public.{{inputs.taxi}}_tripdata"

tasks:
  - id: process_months
    type: io.kestra.plugin.core.flow.Each
    value: "{{ vars.months }}"
    tasks:

      - id: set_labels
        type: io.kestra.plugin.core.execution.Labels
        labels:
          taxi: "{{ inputs.taxi }}"
          year: "{{ inputs.year }}"
          month: "{{ taskrun.value }}"

      - id: extract
        type: io.kestra.plugin.scripts.shell.Commands
        outputFiles:
          - "*.csv"
        taskRunner:
          type: io.kestra.plugin.core.runner.Process
        commands:
          - |
            FILE={{inputs.taxi}}_tripdata_{{inputs.year}}-{{taskrun.value}}.csv
            wget -qO- https://github.com/DataTalksClub/nyc-tlc-data/releases/download/{{inputs.taxi}}/$FILE.gz \
            | gunzip > $FILE

      # ======================
      # YELLOW TAXI
      # ======================
      - id: if_yellow_taxi
        type: io.kestra.plugin.core.flow.If
        condition: "{{ inputs.taxi == 'yellow' }}"
        then:

          - id: yellow_create_table
            type: io.kestra.plugin.jdbc.postgresql.Queries
            sql: |
              CREATE TABLE IF NOT EXISTS {{ vars.table }} (
                  unique_row_id          text,
                  filename               text,
                  VendorID               text,
                  tpep_pickup_datetime   timestamp,
                  tpep_dropoff_datetime  timestamp,
                  passenger_count        integer,
                  trip_distance          double precision,
                  RatecodeID             text,
                  store_and_fwd_flag     text,
                  PULocationID           text,
                  DOLocationID           text,
                  payment_type           integer,
                  fare_amount            double precision,
                  extra                  double precision,
                  mta_tax                double precision,
                  tip_amount             double precision,
                  tolls_amount           double precision,
                  improvement_surcharge  double precision,
                  total_amount           double precision,
                  congestion_surcharge   double precision
              );

          - id: yellow_create_staging_table
            type: io.kestra.plugin.jdbc.postgresql.Queries
            sql: |
              CREATE TABLE IF NOT EXISTS {{ vars.staging_table }} (
                  unique_row_id          text,
                  filename               text,
                  VendorID               text,
                  tpep_pickup_datetime   timestamp,
                  tpep_dropoff_datetime  timestamp,
                  passenger_count        integer,
                  trip_distance          double precision,
                  RatecodeID             text,
                  store_and_fwd_flag     text,
                  PULocationID           text,
                  DOLocationID           text,
                  payment_type           integer,
                  fare_amount            double precision,
                  extra                  double precision,
                  mta_tax                double precision,
                  tip_amount             double precision,
                  tolls_amount           double precision,
                  improvement_surcharge  double precision,
                  total_amount           double precision,
                  congestion_surcharge   double precision
              );

          - id: yellow_truncate_staging
            type: io.kestra.plugin.jdbc.postgresql.Queries
            sql: TRUNCATE TABLE {{ vars.staging_table }};

          - id: yellow_copy_in
            type: io.kestra.plugin.jdbc.postgresql.CopyIn
            format: CSV
            from: "{{ outputs.extract.outputFiles[inputs.taxi ~ '_tripdata_' ~ inputs.year ~ '-' ~ taskrun.value ~ '.csv'] }}"
            table: "{{ vars.staging_table }}"
            header: true
            columns:
              [VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,
               trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,
               payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,
               improvement_surcharge,total_amount,congestion_surcharge]

          - id: yellow_add_metadata
            type: io.kestra.plugin.jdbc.postgresql.Queries
            sql: |
              UPDATE {{ vars.staging_table }}
              SET
                unique_row_id = md5(
                  COALESCE(VendorID,'') ||
                  COALESCE(tpep_pickup_datetime::text,'') ||
                  COALESCE(tpep_dropoff_datetime::text,'') ||
                  COALESCE(PULocationID,'') ||
                  COALESCE(DOLocationID,'') ||
                  COALESCE(fare_amount::text,'') ||
                  COALESCE(trip_distance::text,'')
                ),
                filename = '{{inputs.taxi}}_tripdata_{{inputs.year}}-{{taskrun.value}}.csv';

          - id: yellow_merge
            type: io.kestra.plugin.jdbc.postgresql.Queries
            sql: |
              MERGE INTO {{ vars.table }} t
              USING {{ vars.staging_table }} s
              ON t.unique_row_id = s.unique_row_id
              WHEN NOT MATCHED THEN
                INSERT SELECT * FROM s;

      # ======================
      # GREEN TAXI
      # ======================
      - id: if_green_taxi
        type: io.kestra.plugin.core.flow.If
        condition: "{{ inputs.taxi == 'green' }}"
        then:

          - id: green_create_table
            type: io.kestra.plugin.jdbc.postgresql.Queries
            sql: |
              CREATE TABLE IF NOT EXISTS {{ vars.table }} (
                  unique_row_id          text,
                  filename               text,
                  VendorID               text,
                  lpep_pickup_datetime   timestamp,
                  lpep_dropoff_datetime  timestamp,
                  store_and_fwd_flag     text,
                  RatecodeID             text,
                  PULocationID           text,
                  DOLocationID           text,
                  passenger_count        integer,
                  trip_distance          double precision,
                  fare_amount            double precision,
                  extra                  double precision,
                  mta_tax                double precision,
                  tip_amount             double precision,
                  tolls_amount           double precision,
                  ehail_fee              double precision,
                  improvement_surcharge  double precision,
                  total_amount           double precision,
                  payment_type           integer,
                  trip_type              integer,
                  congestion_surcharge   double precision
              );

          - id: green_create_staging
            type: io.kestra.plugin.jdbc.postgresql.Queries
            sql: |
              CREATE TABLE IF NOT EXISTS {{ vars.staging_table }} (
                  unique_row_id          text,
                  filename               text,
                  VendorID               text,
                  lpep_pickup_datetime   timestamp,
                  lpep_dropoff_datetime  timestamp,
                  store_and_fwd_flag     text,
                  RatecodeID             text,
                  PULocationID           text,
                  DOLocationID           text,
                  passenger_count        integer,
                  trip_distance          double precision,
                  fare_amount            double precision,
                  extra                  double precision,
                  mta_tax                double precision,
                  tip_amount             double precision,
                  tolls_amount           double precision,
                  ehail_fee              double precision,
                  improvement_surcharge  double precision,
                  total_amount           double precision,
                  payment_type           integer,
                  trip_type              integer,
                  congestion_surcharge   double precision
              );

          - id: green_truncate_staging
            type: io.kestra.plugin.jdbc.postgresql.Queries
            sql: TRUNCATE TABLE {{ vars.staging_table }};

          - id: green_copy_in
            type: io.kestra.plugin.jdbc.postgresql.CopyIn
            format: CSV
            from: "{{ outputs.extract.outputFiles[inputs.taxi ~ '_tripdata_' ~ inputs.year ~ '-' ~ taskrun.value ~ '.csv'] }}"
            table: "{{ vars.staging_table }}"
            header: true
            columns:
              [VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,
               RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,
               fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,
               improvement_surcharge,total_amount,payment_type,trip_type,
               congestion_surcharge]

          - id: green_add_metadata
            type: io.kestra.plugin.jdbc.postgresql.Queries
            sql: |
              UPDATE {{ vars.staging_table }}
              SET
                unique_row_id = md5(
                  COALESCE(VendorID,'') ||
                  COALESCE(lpep_pickup_datetime::text,'') ||
                  COALESCE(lpep_dropoff_datetime::text,'') ||
                  COALESCE(PULocationID,'') ||
                  COALESCE(DOLocationID,'') ||
                  COALESCE(fare_amount::text,'') ||
                  COALESCE(trip_distance::text,'')
                ),
                filename = '{{inputs.taxi}}_tripdata_{{inputs.year}}-{{taskrun.value}}.csv';

          - id: green_merge
            type: io.kestra.plugin.jdbc.postgresql.Queries
            sql: |
              MERGE INTO {{ vars.table }} t
              USING {{ vars.staging_table }} s
              ON t.unique_row_id = s.unique_row_id
              WHEN NOT MATCHED THEN
                INSERT SELECT * FROM s;

  - id: purge_files
    type: io.kestra.plugin.core.storage.PurgeCurrentExecutionFiles

pluginDefaults:
  - type: io.kestra.plugin.jdbc.postgresql
    values:
      url: jdbc:postgresql://pgdatabase:5432/ny_taxi
      username: root
      password: root
